<footer id='wax-footer' class='page-footer container-fluid'>
  <div class='wax-inline-container'>
    <div class='row'>
      <div class='col'>
        <p class="footer-title">{{ site.title }}</p>
        <p class='footer-description'>{{ site.description }}</p><br>
        <p class="footer-contact">
          <span id="footer-contact-title">Contacto</span><br>
          David Merino Recalde<br>
          <a href="mailto:david.merino@uab.cat" target="_blank">david.merino@uab.cat</a>
        </p>
        <p class='footer-copyright'>
          Built with <a href='https://github.com/minicomp/wax/' target="_blank"
            rel="noopener noreferrer">Minicomp/Wax</a> &
            <a href="https://github.com/TEIC/CETEIcean" target="_blank">CETEIcean</a>
        </p>
        <p class="footer-copyright">
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="image-link">
            <img src="{{ site.baseurl }}/img/logo/cc-by-nc-sa.png" alt="Licencia CC BY NC SA">
          </a>
          <a href="https://github.com/dxvidmr/pruebas-fo" target="_blank" class="image-link">
            <img src="{{ site.baseurl }}/img/logo/GitHubLogo.svg" alt="GitHub">
          </a>
        </p>
      </div>
      <div class="col">
        <div>
        <p class='footer-logos'>
          <a href="https://prolope.uab.cat/" target="_blank" class="image-link">
            <img src="{{ site.baseurl }}/img/logo/prolopesin.png" alt="PROLOPE">
          </a>
        </p>
        </div>
        <div>
          <p class="colaboradores">
            Con la colaboración de <br>
            <a href="https://dfe.uab.cat/" target="_blank" class="image-link">
              <img src="{{ site.baseurl }}/img/logo/logodeptnegro.png" alt="Departamento Filologia Espanyola UAB">
            </a>
          </p>
          <p class="colaboradores">
            <a href="https://www.bne.es/es" target="_blank" class="image-link">
              <img src="{{ site.baseurl }}/img/logo/logoBNE.jpg" alt="Biblioteca Nacional de España">
            </a>
            <a href="https://comunidad.bne.es/" target="_blank" class="image-link">
              <img src="{{ site.baseurl }}/img/logo/bne-comunidad-logo.png" alt="Comunidad BNE">
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>