<footer id='wax-footer' class='page-footer container-fluid footer-container'>
  <div class='wax-inline-container'>
    <div class='row'>
      <div class='col'>
        <div class="footer-title">
          <h2>¡Todos a una!</h2>
          <h1><i>Fuenteovejuna</i> social</h1>
          <p class='footer-description'>Edición y archivo participativo de la obra de Lope de Vega</p><br>
        </div>
      </div>
      <div class="col">
        <div class="footer-contact">
          <h6>Contacto</h6>
          <p>David Merino Recalde</p>
          <p><a href="mailto:david.merino@uab.cat" target="_blank">david.merino@uab.cat</a></p>
        </div>
        <div class="footer-nav">
          <h6>Navegación</h6>
          <ul>
            <li><a href="{{ site.baseurl }}/info">Sobre el proyecto</a></li>
            <li><a href="{{ site.baseurl }}/Exhibiciones">Aprende sobre la obra</a></li>
            <li><a href="{{ site.baseurl }}/ediciondigital">Lee <i>Fuenteovejuna</i></a></li>
            <li><a href="{{ site.baseurl }}/archivo">Explora el archivo</a></li>
            <li><a href="{{ site.baseurl }}/participa">Colabora en el proyecto</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="footer-logos">      
          <a href="https://prolope.uab.cat/" target="_blank" class="image-link">
            <img src="{{ site.baseurl }}/img/logo/prolopesin.png" alt="PROLOPE">
          </a>
          <div class="logo-with-text">
            <span>Con la colaboración de</span><br>
            <a href="https://dfe.uab.cat/" target="_blank" class="image-link">
              <img src="{{ site.baseurl }}/img/logo/logodeptnegro.png" alt="Departamento Filologia Espanyola UAB">
            </a>
          </div>
          <a href="https://www.bne.es/es" target="_blank" class="image-link">
            <img src="{{ site.baseurl }}/img/logo/logoBNE.jpg" alt="Biblioteca Nacional de España">
          </a>
          <a href="https://comunidad.bne.es/" target="_blank" class="image-link">
            <img src="{{ site.baseurl }}/img/logo/bne-comunidad-logo.png" alt="Comunidad BNE">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class='footer-copyright'>
          <p>
            Built with <a href='https://github.com/minicomp/wax/' target="_blank">Minicomp/Wax</a> &
              <a href="https://github.com/TEIC/CETEIcean" target="_blank">CETEIcean</a>
              by <a href="https://dxvidmr.github.io/" target="_blank">David Merino Recalde</a>
          </p>
          <p>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="image-link">
              <img src="{{ site.baseurl }}/img/logo/cc-by-nc-sa.png" alt="Licencia CC BY NC SA">
            </a>
            <a href="https://github.com/dxvidmr/pruebas-fo" target="_blank" class="image-link">
              <img src="{{ site.baseurl }}/img/logo/GitHubLogo.svg" alt="GitHub">
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>