@import 'bootstrap';

/*

main body & containers

*/

html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $body-font;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

a {
  color: $primary;
  font-weight: normal;
  position: relative;
  text-decoration: none;

  &:hover {
    color: $primary;
    text-decoration: none;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: $secondary;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}


// Anular estilo enlaces
#wax-header a {
  &::before {
    content: none;
  }
  &:hover::before {
    content: none;
  }
}

a.image-link::before {
  content: none;
}

a.button-link {
  &::before {
    content: none;
  }
  &:hover::before {
    content: none;
  }
}


p {
  color: $text;
  max-width: 100%;
  margin-bottom: $less-margin;
  letter-spacing: .02rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.75rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*

header & nav bar

*/

.menu-container {
  background-color: $light-secondary; 
  border: 1px solid $light-secondary; 
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem auto;
  max-width: calc(100% - 2rem);
  box-sizing: border-box; 
}

.navbar-specific {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    justify-content: flex-start;
  }

  .navbar-toggler {
    margin-left: auto; // Mantiene el toggler a la derecha
    position: absolute;  // Posicionamiento absoluto para evitar que afecte la disposición de otros elementos
    right: 20px;  // Alinea el toggler a la derecha
    top: 35px;
  }
}



#wax-header {
  
  color: $primary;
  z-index: 100000;
  padding: $margin;
  font-family: $heading-font;

  .navbar-brand {
    font-family: $logo-font;
    font-weight: 700;
    color: $primary;
    font-size: 2rem;
    white-space: normal;
  }
  .navbar-brand img {
    width: 150px; 
    height: auto;
  }

  .navbar-brand:hover {
    color: $secondary;
  }

  .navbar-toggler {
    background-color: $light-secondary;
  }

  .navbar-nav {
    .nav-item {
      z-index: 1000000;
      background-color: $light-secondary;
    }
    .nav-link {
      color: $primary;
      font-weight: 700;
    }
    .nav-link:hover {
      color: $secondary;
    }
    .nav-link:active {
      background-color: $light-secondary;
    }
    .dropdown-menu {
      background-color: darken($light-secondary, 2%);
      border-color: $light-secondary;
      .dropdown-item {
        color: $primary;
        font-weight: 500;
      }
      .dropdown-item:focus {
        background-color: $light-secondary;
      }
      .dropdown-item:hover {
        background-color: darken($light-secondary, 2%);
        color: $secondary;
      }
    }
  }
}

/*

content section

*/
#wax-main {
  background-color: $bg-color;
  width: 100vw;
  max-width: 100%;
  padding-top: $margin;
  padding-bottom: 5rem;

  h1, h2, h3, h4, h5, h5 {
    margin-bottom: $less-margin;
    margin-top: $more-margin;
    font-family: $heading-font;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  h5 {
    font-size: 1rem;
  }

  img {
    max-width: 100%;
  }

  .footnotes ol {
    padding-left: 0;
  }

  li {
    font-family: $body-font;
    color: $text;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    max-width: 100%;
  }

  #wax-content {
    min-height: 70vh;

    .exhibit-meta {
      margin-bottom: $super-margin;

      .exhibit-author {
        margin-top: $more-margin;
        margin-bottom: 1em;
        padding-bottom: 0;
      }
      .exhibit-title {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
      }
      .exhibit-date {
        margin: 0;
        padding: 0;
        font-weight: 300;
      }
    }

    .inline-image-reference {
      background-color: $light-secondary;
      margin-top: $more-margin;
      margin-bottom: $more-margin;
      display: inline-block;
      padding: 1em;
      max-width: 90%;
      img {
        max-width: 100%;
        max-height: 80vh;
      }
      .image-caption {
        margin: 1em 0 1em 0;
        font-family: $heading-font;
      }
    }
  }
}

#portada {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: stretch;
  min-height: 80vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: left;
  width: 100%;

  .col { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; 
    min-width: 300px; 

    &:last-child {
      margin-right: 0;
    }
  }

  .texto-container,
  .impreso-inicio {
    width: 100%;
  }

  h1 {
    font-family: $heading-font;
    font-size: 4rem;
    font-weight: 700;
    color: $primary;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .button-container {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 50px;
  }

  .impreso-inicio {
    position: relative; // Necesario para posicionar el pseudo-elemento de forma absoluta
    display: inline-block; // Asegura que el contenedor se ajuste al tamaño del contenido
  
    a {
      display: inline-block;
      text-decoration: none; // Elimina el subrayado por defecto de los enlaces
      color: inherit; // Hereda el color del texto del padre o especifica uno
  
      img {
        width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 15px;
        transition: transform 0.3s ease; // Efecto suave para el movimiento
      }
  
      &:hover img {
        transform: translateY(-5px); // Mueve la imagen hacia arriba
      }
  
      &:hover:after {
        content: "Lee Fuenteovejuna"; // Muestra este mensaje como si fuera un botón
        position: absolute;
        left: 50%;
        top: 100%; // Posiciona justo debajo de la imagen
        transform: translateX(-50%); // Centra el pseudo-elemento
        width: auto; // Ajusta al contenido o especifica un ancho
        padding: 10px 15px; // Espaciado interno para dar forma al botón
        background-color: $primary; // Color de fondo del botón
        color: $background; // Color del texto del botón
        text-align: center;
        border-radius: 99rem; // Bordes redondeados
        white-space: nowrap; // Asegura que el texto esté en una sola línea
        opacity: 0; // Comienza invisible
        transition: opacity 0.3s ease; // Transición suave para la opacidad
        pointer-events: none; // Permite clics a través del pseudo-elemento
      }
  
      &:hover:after {
        opacity: 1; // Hace visible el pseudo-elemento al pasar el ratón
      }
    }
  }
  
  
  @media (max-width: 774px) {
    flex-direction: column;
    align-items: center; 

    .col {
      width: 100%; 
      margin-bottom: 20px; 
    }

    .button-container {
      justify-content: center;
    }

    .impreso-inicio {
      width: 100%;
      margin-top: 30px;
    
      img {
        width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px; 
      }
    }
  }
}


.footer-container {
  background-color: $light-secondary; /* Asegúrate de que esta variable esté definida o usa un color directo */
  border: 1px solid $light-secondary; /* Ídem */
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem auto; /* Centra el contenedor y aplica márgenes superior e inferior */
  max-width: calc(100% - 2rem); /* Resta los márgenes de los lados del ancho total */
  box-sizing: border-box; /* Incluye el padding y el borde dentro del ancho total */
}



#wax-footer {
  width: 100vw;
  padding-bottom: 0;
  padding-top: 3rem;
  background-color: $light-secondary;
  display: flex;
  text-align: left;
  col {
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 100%;
    justify-items: space-between;
    min-width: 250px;
  }
  .footer-title {
    color: $primary;
    font-weight: 500;
    font-family: $logo-font;
    padding-bottom: 1em;
    margin: 0;
    img {
      width: 300px;
      height: auto;
      margin-bottom: 20px;
    }
  }
  .footer-description {
    font-family: $body-font;
    margin: 0;
    font-size: .9em;
    line-height: 1.2;
  }
  .footer-contact {
    font-family: $body-font;
    margin: 0;
    margin-bottom: 20px;
    p {
      font-size: .9em;
      line-height: 1;
      margin-bottom: .3em;
    }
  }
  .footer-nav {
    font-family: $body-font;
    margin: 0;
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      font-size: .9em;
      line-height: 1;
      margin-bottom: .3em;
    }
    a {
      color: $text;
      font-weight: 300;
    }
  }
  .footer-logos {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 100%;
    align-items: flex-end;
    font-family: $body-font;
    font-size: .9em;
    margin-top: 50px;
    a {
        text-decoration: none;
    }
    img {
        height: 50px;
        margin-right: 20px;
    }
    .logo-with-text {
      display: block;
      text-align: left;
      line-height: 10px;
      span {
        display: block; // Asegura que el texto se muestre como bloque
      }
    }
    @media (max-width: 719px) {
      img {
        margin-bottom: 20px
      }
    }
    @media (max-width: 606px) {
      flex-direction: column;
      align-items: flex-start;
      img {
        margin-right: 0;
        margin-bottom: 20px
      }
    }
  }
  .footer-copyright {
    display: flex;
    align-items: flex-end;
    margin: $margin 0 $margin 0;
    p {
      font-size: .9em;
      line-height: 1.2;
      font-family: $body-font;
      margin-right: 20px;
    }
    a {
      text-decoration: none;
    }
    img {
      height: 25px;
      margin-right: 0.5rem;
    }
    @media (max-width: 751px) {
      flex-direction: column;
      align-items: flex-start;
      img {
        margin-right: 0;
        margin-bottom: 20px
      }
    }
  }

}


.wax-inline-container {
  @extend .container;

  margin: 0 auto;
  max-width: 90%;
  width: $max-width;
  overflow: flex-wrap;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: $more-margin;
}

.wax-parallax.inline-parallax {
  margin-top: $more-margin;
}

.wax-parallax.top-banner {

}

.wax-parallax {

  .parallax-image {
    background-color: $light-secondary;
    width: 100vw;
    height: $parallax-height;
    max-height: 55vh;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
  }
  .parallax-caption {
    margin: 0 auto;
    width: 100vw;
    background-color: $light-secondary;
    padding: $less-margin 0;
    a {
      color: $primary;
      font-weight: 700;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $secondary;
    }
  }
}

/*

item pages (iiif + metadata)

*/
.item-view {
  width:           110%;
  display:         inline-flex;
  flex-wrap:       nowrap;
  justify-content: space-between;
  align-items:     center;
  margin-left:     -5%;

  .image-viewer {
    position: relative;
    text-align: center;
    height:   $viewer-height;
    max-height: 80vh;
    background-color: $light-secondary;
    width:    100%;
    border:   1px solid $light-secondary;
    margin:   $more-margin 0 $more-margin 0;

    a {
      color: inherit !important;
    }

    li {
      font-size: 1em !important;
    }

    .item-full-image {
      max-width: $max-width;
      max-height: 100%;
      height: $viewer-height;
    }
  }


  .pagination-link {
    width: 5%;
    text-align: center;
    a {
      font-family: $heading-font;
      font-weight: bold;
      font-size: 3em;
      color: $text !important;
      text-decoration: none !important;
      background-color: $bg-color;
      margin: 0;
      &:hover{
        color: $secondary !important;
      }
    }
  }

  #prevlink {
    float:left;
  }
  .nextlink {
    float: right;
  }
}

.metadata-block {
  font-family: $body-font;
  font-weight: 300;
  max-width: 100%;
  border: $light-secondary 1px solid;
  border-radius: 3px;
  padding: $less-margin;
}

/*

search box

*/


.search-block{
  margin: $more-margin 0 $more-margin 0;
  #search{
    border-style: groove;
    border-width: 2px;
    margin-bottom: $more-margin;
    &:focus {
        box-shadow: none ;
        border-color: $light-secondary;
    }
  }
  #results {
    margin: 0;
    .result {
      padding: 1em;
      a {
        color: $text;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        img {
          float: left;
          width: 50px;
        }
        p {
          margin: 0 !important;
          padding: 0;
          .title{
            color: $secondary;
          }
        }
      }
      &:hover {
        background-color: $light-secondary
      }
    }
  }
}



.wax-gallery-container {
  .facet-buttons {
    .facet {
      @extend .btn-outline-secondary;
      margin-right: .5em;
      margin-top: 1rem;
      font-family: $heading-font;
      border-color: $text;
    }
    .active{
      @extend .facet;
      background-color: $text;
      color: $bg-color;
    }
  }
  .wax-gallery {
    margin: $margin auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .gallery-item {
      padding: 0;
      margin: .25rem;
      background-color: #ffffff;
      max-height: $thumbnail-height;
      max-width: $thumbnail-width;
      border: 1px grey solid;

      .gallery-thumb {
        object-position: 50% 20%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;

        &:hover {
          .overlay {
            opacity: .7;
            cursor: pointer;
            .info {
              opacity: 1;
              filter: alpha(opacity=100);
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              // display: none;
            }
          }
        }

        .info {
          text-decoration: none;
          font-family: $heading-font !important;
          color: $bg-color !important;
          background-color: transparent;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          font-weight: normal;
          font-size: .9rem;
          line-height: 1rem;
          overflow: hidden;
          display: table-cell;
          padding: .4rem;
          vertical-align: center;
        }

        // .info {
        //   text-decoration: none;
        //   font-family: $heading-font !important;
        //   color: $bg-color !important;
        //   background-color: transparent;
        //   opacity: 0;
        //   filter: alpha(opacity=0);
        //   -webkit-transform: scale(0);
        //   -ms-transform: scale(0);
        //   transform: scale(0);
        //   font-weight: normal;
        //   overflow: hidden;
        //   display: table-cell;
        //   vertical-align: middle;
        //   padding: 0 $margin 0 $margin;
        // }

        .overlay {
          width: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          background-color: $secondary;
          opacity: 0;
          -webkit-transition:opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
          display: table;
          height: 200px;
        }
      }
    }
  }
}


.dataTables_wrapper {
  width: 100% !important;
  margin: $super-margin 0 $super-margin 0;
}

.sq-thumb-sm{
  object-fit: cover;
  object-position: 50% 20%;
  width: 80px;
  height: 80px;
}


/* BUTTONS */

button {
  display: inline-flex; /* Cambiado a inline-flex para permitir expansión */
  padding: 1.1rem 2.5rem; /* Ajusta el padding para centrar el texto inicialmente */
  border-radius: 99rem;
  color: $light-secondary;
  background-color: $primary;
  align-items: center;
  justify-content: center; /* Centra el contenido del botón */
  gap: 1em;
  border: none;
  font-size: 18px;
  position: relative; /* Importante para el posicionamiento absoluto del icono */
  overflow: hidden;
  transition: padding 0.5s ease; /* Suaviza la transición del padding */
}

.button-text {
  transition: transform 0.5s ease; /* Transición para mover el texto */
}

.icon {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(100%); /* Empieza fuera de la vista */
  opacity: 0;
  position: absolute; /* Posiciona el icono de manera absoluta */
  right: 1.1rem; /* Alinea el icono a la derecha dentro del botón */
}

.icon img {
  width: 1.5em;
  height: auto;
}

button:hover .button-text {
  transform: translateX(-20%); /* Mueve el texto hacia la izquierda */
  cursor: pointer;
}

button:hover .icon {
  transform: translateX(0%); /* Mueve el icono hacia su posición visible */
  opacity: 1;
  cursor: pointer;
}

button, button:focus, button:active {
  outline: none;
}


