---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo.png' | absolute_url }}");

/* text */

$body-font:       'Nunito Sans', 'Open Sans', 'sans-serif';
$heading-font:    'Nunito Sans', 'Open Sans', 'sans-serif';
$logo-font:       'Yatra One', 'Nunito Sans', 'Open Sans', 'sans-serif';

/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */

$text-color:      #100c01;
$bg-color:        #ffffff;
$neutral:         #EBEBEB;
$accent-light:    #98A781;
$accent-dark:     #727E62;
$gray-light:      #F7F7F7;

$text: #040316;
$background: #fbfbfe;
$primary: #52664d;
$secondary: #bbc9b0;
$light-secondary: #f2f5f0;

/* viewport sizes */

$max-width:       1200px; /*originalmente 800px*/

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import 'wax';