---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/img/logo/imagotipo.svg' | absolute_url }}");
$icon: url("{{ '/img/logo/isotipo.svg' | absolute_url }}");

/* text */

$body-font:       'Nunito Sans', 'Open Sans', 'sans-serif';
$heading-font:    'Nunito Sans', 'Open Sans', 'sans-serif';
$logo-font:       'Yatra One', 'Nunito Sans', 'Open Sans', 'sans-serif';

/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */
$text:          #040316;
$background:    #fbfbfe;
$accent:        #52664d; /* 600 */
$accent-hover:  #8ca286; /* 400 */
$secondary:     #eaefe9; /*  100 */

/* shades */
$accent-50:  rgb(246, 248, 245);
$accent-100: rgb(234, 239, 233);
$accent-200: rgb(215, 222, 212);
$accent-300: rgb(181, 196, 177);
$accent-400: rgb(140, 162, 134);
$accent-500: rgb(106, 130, 101);
$accent-600: rgb(82, 102, 77);
$accent-700: rgb(69, 84, 65);
$accent-800: rgb(57, 69, 54);
$accent-900: rgb(48, 57, 46);
$accent-950: rgb(23, 29, 22);


/* viewport sizes */

$max-width:       1200px; /*originalmente 800px*/

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import 'wax';