---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Título'
    value: page.label
  - label: 'Fecha'
    value: page._date
  - label: 'Tipo de manifestación'
    value: page.manifestationtype
  - label: 'Tipo de recurso o soporte'
    value: page._tags
  - label: 'Subtipo'
    value: page.subtype
  - label: 'Descripción'
    value: page.description 
  - label: 'Fuente o localización'
    value: page.source 
  - label: 'País'
    value: page.country
  - label: 'Ciudad'
    value: page.city

---
